/***********************************************************************
************************************************************************
GENERIC STYLES
************************************************************************
************************************************************************/


/*Border Box Fix*/
html{
   box-sizing: border-box;
   font-family: sans-serif;
}
*, *:before, *:after{
   box-sizing: inherit;
}
body{
   width:100%;
   /* height: 100%; */
   margin: 0px;
   padding: 0px;
}
a{
   color: white;
   text-decoration: none;
   border-bottom: 1px solid white;
   transition: color, 0.25s;
}
a:hover,
a:focus{
   color: red;
   text-decoration: none;
   border-bottom: 1px solid red;
}

.bannerWrapper{
   position: relative;
   margin: auto;
   width: 100%;
   height: 100%;
   max-width: 1600px;
}

.background-overlay{
   position: absolute;
   height: 100%;
   width: 100%;
   top: 0px;
   left: 0px;
   bottom: 0px;
   right: 0px;
}


/***********************************************************************
SOME HELPFUL DEFINITIONS
************************************************************************/
.invert {
   filter: invert(100%);
}

/* Bootstrap Breakpoints */

/* // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */



/***********************************************************************
************************************************************************
NAV STYLES
************************************************************************
************************************************************************/

/* Small top banner styles */

.preNavBanner{
   width: 100%;
   background-color: rgb(195, 0, 0);
   text-align: center;
}
.preNavBanner p{
   margin: 0;
   color: white;
   font-weight: bold;
   font-size: 1.1em;
   padding: 10px;
}
.preNavBanner p:hover,
.preNavBanner p:focus{
   cursor: pointer;
   background-color: rgb(170, 0, 0);

}


/* Main Top image styles */
.topImgWrapper{
   width:100%;
   height:620px;
   overflow:hidden;
   position:relative;
   /* background-image: url(../images/unsplash1.jpg); */
   background-image: url(../images/johnpolitician.jpg);
   background-repeat: no-repeat;
   background-position: center bottom;
   background-size: cover;
}
#mainLogo{
   position: relative;
   top: 30px;
   left: 20px;
   height: 160px;
}
@media (min-width: 750px){
   #mainLogo{
      height: 200px;
   }
}
@media (min-width: 1400px){
   #mainLogo{
      height: 200px;
   }
   .topNav.simple{
      position:absolute;
      top:10px;
      right: 60px;
      height: 60px;
   }
}


/************************************************************************/
/* Primary Nav (within image wrapper) styles */
/************************************************************************/

.topNav.simple{
   position:absolute;
   top:10px;
   right: 30px;
   height: 60px;
}
.topNav.simple ul{
   display: flex;
   flex-wrap: wrap;
}
.topNav.simple li{
   list-style: none;
   display: inline-flex;
   margin: 0px 5px;
   padding: 0;
}
.topNav.simple li:last-of-type{
   background-color: rgb(195, 0, 0);
   transition: background-color, 0.5s;
}
.topNav.simple li:last-of-type:hover,
.topNav.simple li:last-of-type:focus{
   background-color: rgb(170, 0, 0);
}
.topNav.simple li a{
   font-size: 1.4em;
   text-decoration: none;
   padding: 10px 20px;
   color: white;
   border-bottom: none;
}
@media (max-width: 1024px) {
   .topNav.simple li a{
      font-size: 1.2em;
   }
}
.topNav.simple li a:hover,
.topNav.simple li a:focus{
   background-color: rgb(200, 0, 0, 0.7);
}

/************************************************************************/
/* Scrolling Fixed Nav (follows page as scroll) styles */
/************************************************************************/

.topNav.scroll{
   display: block;
   width: 100vw;
   position:fixed;
   top:0px;
   right: 0px;
   background-color: white;
   z-index: 10;
   padding: 5px 10%;
}
.topNav.scroll ul{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0;
   margin: 0;
}
@media (max-width: 1224px){
   .topNav.scroll{
      height: 60px;
      padding: 5px;
   }
   .topNav.scroll ul{
      justify-content: space-around;
   }
}
.topNav.scroll li{
   list-style: none;
   padding: 0px;
   margin: 0;
}
.topNav.scroll li:last-of-type{
   background-color: rgb(195, 0, 0);
   transition: background-color, 0.5s;
}
.topNav.scroll li:last-of-type:hover,
.topNav.scroll li:last-of-type:focus{
   background-color: rgb(170, 0, 0);
}
.topNav.scroll li a{
   font-size: 1.2em;
   text-decoration: none;
   text-transform: uppercase;
   padding: 10px 20px;
   color: black;
   border-bottom: none;
}
.topNav.scroll li a .topLink{
   display: inline-block;
   transform: scaleY(0.8);
}
@media (max-width: 1024px) {
   .topNav.scroll li a span{
      font-size: 0.9em;
   }
}
@media (max-width: 850px) {
   .topNav.scroll li a span{
      font-size: 0.8em;
   }
}
.topNav.scroll li a:hover,
.topNav.scroll li a:focus{
   color: white;
   background-color: rgb(200, 0, 0);
}

/*  Universal Nav rules */

@media (max-width: 950px){
   .donateNav.simple{
      position: absolute;
      top: 50px;
      right: 19px;
   }
}
.donateNav a{
   display: block;
   width: 100%
   color: white;
   background-color: rgb(195, 0, 0);
   transition: background-color, 0.5s;
   border-bottom: none;
}
.donateNav a span{
   color: white;
   text-transform: uppercase;
   transform: scaleY(0.8);
}
.donateNav a:hover
.donateNav a:focus{
   background-color: rgb(170, 0, 0);
}
.donateNav a span:hover,
.donateNav a span:focus{
   text-decoration: underline;
}
#firstLI,#secondLI{
   display: none;
   list-style: none;
   padding: 10px 30px;
   font-size: 1.4em;
   color: black;
   font-family: serif;
   font-weight: bold;
   font-variant: small-caps;
   letter-spacing: 3px;
}
@media(max-width: 750px){
   #firstLI{
      display: inline-block;
   }
}
@media(max-width: 550px){
   #firstLI{
      display: inline-block;
   }
   #donateNav{
      display: none;
   }
}



/************************************************************************/
/*  Mobile menu button styles */
/************************************************************************/


.menuButton{
   position:absolute;
   top: 20px;
   right: 40px;
   display: none;
}
.mobileNavOpenButton{
   width: 50px;
   height: 50px;
   border: 5px solid white;
}
.mobileNavOpenButton a{
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   display: -ms-flexbox;
   -ms-flex-pack: center;
   -ms-flex-align: center;
   border: none;
   width: 100%;
   height: 100%;
}
.mobileNavOpenButton a:hover,
.mobileNavOpenButton a:focus{
   border: none;
   color: white;
}


.mobileNavOpenButton #menuOpen{
   display: inline-block;
   height: 60%;
   width: 70%;
   border-top: 5px solid white;
   border-bottom: 5px solid white;
}

.mobileNavOpenButton #menuClose{
   display: none;
   height: 100%;
   vertical-align: middle;
   margin: 0 auto;
   color: black;
   font-size: 70px;
   line-height: 25px;
   padding: 0;
   margin: 0;
}


.mobileNavMenu{
   display: none;
   margin-top: 5px;
   text-align: center;
   color: white;
   font-weight: bold;
}
@media (max-width: 750px){
   .menuButton{
      display: inline-block;
   }
}




/************************************************************************/
/*  simple navs disappear at smaller screen sizies */
/************************************************************************/

@media (max-width: 750px){
   .topImgWrapper{
      height: 65vh;
   }
   .topNav.simple{
      display: none;
   }
}



/************************************************************************/
/*  At smaller screen size the scrolling nav changes format */
/************************************************************************/


@media (max-width: 750px){
   .topNav.scroll{
      padding: 6px;
   }
   .topNav.scroll ul{
      display: inline-block;
      width: 87%;
   }
   .topNav.scroll li{
      display: none;
   }
   .topNav.scroll li:last-of-type{
      display: inline-block;
      height: 100%;
      float: right;
   }

   .mobileNavOpenButton.scroll{
      border-color: black;
      position: fixed;
      top: 5px;
      right: 5px;
      z-index: 12;
   }
   .mobileNavOpenButton.scroll a:before, .mobileNavOpenButton.scroll a:after{
      border-color: black;
   }

   #menuOpen.scroll{
      border-color: black;
   }

}


/************************************************************************/
/*  Mobile nav styles */
/************************************************************************/

.mobileNav{
   display: none;
   position: fixed;
   top: 60px;
   left: 0px;
   width: 100%;
   height: 100%;
   background-color: white;
   z-index: 20;
}
.mobileNav ul{
   padding: 0;
}
.mobileNav li{
   list-style-type: none;
   border-top: 1px solid black;
}
.mobileNav li:last-of-type{
   border-bottom: 1px solid black;
}
.mobileNav li a{
   display: inline-block;
   color: black;
   font-size: 1.5em;
   font-variant: small-caps;
   width: 100%;
   height: 100%;
   padding: 15px 40px;
}



.navAnchor{
   position: absolute;
   top: -58px;
}


/***********************************************************************
************************************************************************
TWO IMAGE ROW/COLUMN STYLES
************************************************************************
************************************************************************/


.twoShot{
   display: grid;
   display:-ms-grid;
   grid-template-columns: 1fr 1fr;
   -ms-grid-columns:1fr 1fr;
   -ms-grid-rows: 1fr;
   width:100%;
}
/* for supporting grid in IE:  https://medium.com/@elad/supporting-css-grid-in-internet-explorer-b38669e75d66 */

.twoShot h1{
   margin-top: 10px;
   width: 100%;
   text-align: center;
   font-size: 1.5em;
}
.twoShot h2{
   margin-top: 5px;
   width: 100%;
   text-align: center;
   font-size: 1.2em;
}
.twoShot p{
   text-align: center;
   padding: 0px 20px;
}

.firstPanel{
   display: flex;
   height:50vh;
   max-height: 350px;
   padding: 0px 20px;
   overflow:hidden;
   position:relative;
   color: white;
   align-items: center;
   justify-content: center;
   background-color: rgba(195, 0, 0, 1);
   transition: background-color, 1s;
}
.firstPanel img{
   width: 120px;
   display: block;
   margin: 20px auto;
}
.firstPanel:hover
.firstPanel:focus{
   background-color: rgba(170, 0, 0, 1);
}
.secondPanel .panelContent{
   max-width: 450px;
   z-index: 2;
}

.secondPanel{
   -ms-grid-column: 2;
   display: flex;
   height:50vh;
   max-height: 350px;
   padding: 0px 20px;
   overflow:hidden;
   position:relative;
   align-items: center;
   justify-content: center;
   background-image: url(../images/unsplash3.jpg);
   background-repeat: no-repeat;
   background-position: center bottom;
   background-size: cover;
}
.secondPanel .background-overlay{
   background-color: rgba(255, 255, 255, 0.85);
}
.secondPanel .panelContent{
   max-width: 500px;
}
.secondPanel h1, .secondPanel h2{
   margin-bottom: 30px;
}

@media (max-width: 1000px){
   .secondPanel h1, .secondPanel h2{
      margin-bottom: 10px;
   }
}
@media (max-width: 680px){
   .twoShot{
      -ms-grid-columns: 1fr;
      -ms-grid-rows: 1fr 1fr;
      grid-template-columns: 1fr;
   }
   .firstPanel, .secondPanel{
      height: 50vh;
   }
   .secondPanel{
      -ms-grid-column: 1;
      -ms-grid-row: 2;
   }
   .secondPanel h1{
      margin-top: 30px;
   }

}


/***********************************************************************
************************************************************************
HANNITY BANNER STYLES
************************************************************************
************************************************************************/


#hannityBanner{
   position: relative;
   width:100%;
   height:500px;
   /* background-image: url(../images/unsplash2.jpg); */
   background-image: url(../images/JohnandHannity.jpg);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   color:white;
}
#hannityBanner .background-overlay{
   background-color: rgba(0, 0, 0, 0.3);
}

#hannityBanner p{
   display: inline-block;
   width: 50%;
   position: absolute;
   padding: 5%;
   margin: 0;
   bottom: 10px;
   right: 20px;
   font-size: 1.2em;
}
@media (max-width: 600px){
   #hannityBanner p{
   width: 100%;
   padding: 10%;
   text-align: center;
   }
}

#interview{
   position: relative;
   width: 100%;
   padding: 30px;
   column-count: 4;
   -moz-column-count: 4;
   -webkit-column-count: 4;
   column-width: 300px;
   -moz-column-width: 300px;
   -webkit-column-with: 300px;
   column-gap: 60px;
   column-rule-style: solid;
   column-rule-width: 1px;
}
#interview p{
   text-align: justify;
}
@media (max-width: 720px){
   #interview{
      padding: 50px;
   }
}
@media (max-width: 600px){
   #interview{
      padding: 30px;
   }
}
span.SH{
   color: rgb(0, 0, 0);
   font-weight: bold;
}
span.JS{
   color: rgb(170, 0, 0);
   font-weight: bold;
}
span.SH:first-of-type,span.JS:first-of-type{
   font-variant: small-caps;
}

#interview a{
   position: static;
   float: right;
}



/***********************************************************************
************************************************************************
POLICY SECTION STYLES
************************************************************************
************************************************************************/

#policy{
   position: relative;
}

/* #policy div div is each cell within the section */
#policy div div{
   height: 420px;
   padding: 0;
   align-self: stretch;
}
#policy h1{
   position: relative;
   padding: 15px;
   font-size: 1.3em;
   color: white;
   font-family: serif;
   font-variant: small-caps;
   margin: 0;
   white-space: nowrap;
}
/* makes sure the "polci stance" and the next words break nicely */
@media (max-width: 1150px) {
   #policy h1 span{
      display: block;
   }
}
@media (max-width: 992px) {
   #policy h1 span{
      display: inline;
   }
}
/* alternates color in header */
#policy div div:nth-of-type(2n) h1{
   background-color: rgb(0,0,100);
}
#policy div div:nth-of-type(2n+1) h1{
   background-color: rgb(170,0,0);
}
/* changes order of boxes for better visual look at medium-large size screens */
@media (max-width: 992px) and (min-width: 768px){
   #policy div div:nth-of-type(3){
      order: 1;
   }
}



#policy .wrapper{
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: justify;
   height: 365px;
   width: 100%;
}
#policy .wrapper.grey{
   background-color: rgb(240,240,240);
}
#policy .wrapper img{
   position: absolute;
   left: 50%;
   margin-left: -35%;
   top: 50%;
   margin-top: -35%;
   width: 70%;
   opacity: 1;
  /* this section contains a dumbass fix for centering things becaue of IE */
}
@media (max-width: 992px) {
   #policy .wrapper img{
      width: 60%;
      margin-top: -30%;
      margin-left: -30%;
   }
}
@media (max-width: 768px) {
   #policy .wrapper img{
      width: 50%;
      margin-top: -25%;
      margin-left: -25%;
   }
}
#policy .wrapper img.tooDark{
   opacity: 0.3;
}
#policy .wrapper p{
   position: relative;
   color: black;
   font-size: 1.2em;
   text-align: justify;
   padding: 30px;
   height: 100%;
}
@media (max-width: 1414px) and (min-width: 1230px){
   #policy .wrapper p{
      font-size: 1.1em;
   }
}
@media (max-width: 1230px) and (min-width: 1150px){
   #policy .wrapper p{
      font-size: 1em;
   }
}
@media (max-width: 1150px) and (min-width: 992px){
   #policy .wrapper p{
      font-size: 0.9em;
   }
}



/***********************************************************************
************************************************************************
YOUT CENTER BANNER STYLES
************************************************************************
************************************************************************/


.gospelOfJohn{
   width:100%;
   height:620px;
   overflow:hidden;
   position:relative;
   background-image: url(../images/youthcrowd.jpg);
   background-repeat: no-repeat;
   background-position: center bottom;
   background-size: cover;
}
.gospelOfJohn .background-overlay{
   background-color: rgba(0, 0, 0, 0.5);
}
.gospelOfJohn *{
   color: white;
}
.gospelOfJohn h4{
   width: 50%;
}
.gospelOfJohn p{
   display: inline-block;
   width: 65%;
   position: absolute;
   padding: 5%;
   margin: 0;
   bottom: 10px;
   right: 20px;
   font-size: 1.2em;
}
.gospelOfJohn p span{
      display: block;
      text-align: right;
}

@media (max-width: 1100px){
   .gospelOfJohn h4{
      width: 75%;
   }
}
@media (max-width: 750px){
   .gospelOfJohn{
      height: 70vh;
      padding-bottom: 10px;
   }
   .gospelOfJohn h4{
      width: 100%;
   }
}

@media (max-width: 600px){
   .gospelOfJohn h1{
      font-size: 2em;
   }
   .gospelOfJohn h4{
      font-size: 1.3em;
      width: 100%;
   }
   .gospelOfJohn p{
      right: 0px;
      width: 90%;
      padding: 20px;
      font-size: 1em;
      text-align: left;
      margin: 10px;
   }
}




.firstPanel.gospel{
   color: black;
   align-items: flex-start;
   padding: 20px;
   background-image: url(../images/Jon5.jpg);
   /* background-image: url(../images/unsplash4.jpg); */
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;

}
.secondPanel.gospel{
   color: white;
   background-image: none;
   background-color: rgb(190, 0, 0);
   transition: background-color, 1s;
}
.secondPanel.gospel:hover,
.secondPanel.gospel:focus{
   background-color: rgb(170, 0, 0);
}
.secondPanel.gospel .panelContent{
   position: relative;
   width: 80%;
   max-width: 450px;
   min-width: 280px;
}
.gospel h1 span{
   display: inline-block;
   margin: 0px 10px;
}
@media (max-width: 866px) and (min-width: 600px) {
   .secondPanel.gospel .panelContent p:first-of-type{
      display: none;
   }
}
@media (min-width: 867px) {
   .secondPanel.gospel .panelContent p:last-of-type{
      display: none;
   }
}
@media (max-width: 599px) {
   .secondPanel.gospel .panelContent p:last-of-type{
      display: none;
   }
}
@media (max-width: 599px) {
   .secondPanel.gospel h1{
      margin: 0;
      padding-bottom: 30px;
   }
}


.clickHereForMoreInfo{
   position: absolute;
   bottom: 10px;
   right:10px;
   padding: 10px;
   color: rgb(170, 0, 0);
   border: 1px solid rgb(195, 0, 0);
   transition: color, 0.25s;
   transition: background-color, .25s;
}
.clickHereForMoreInfo:hover,
.clickHereForMoreInfo:focus{
   color: rgb(255, 255, 255);
   background-color: rgb(195, 0, 0);
}




/***********************************************************************
************************************************************************
FOOTER STYLES
************************************************************************
************************************************************************/



footer{
   position: relative;
   width: 100%;
   background-color: rgb(0,0,100);
   color: white;
}
footer .bannerWrapper div{
   justify-content: space-around;
}
footer .bannerWrapper div div{
   margin: 20px 10px;
}

#piper .innerWrapper{
   display: grid;
   grid-template-columns: 1fr 2fr;
   display:-ms-grid;
   -ms-grid-columns:1fr 2fr;
   -ms-grid-rows: 1fr;
   align-items: center;
}
#piper .miniWrapper{
   display: block;
   -ms-grid-column: 2;
}
#piper img{
   -ms-grid-column: 1;
   -ms-grid-row-align: center;
   width: 120px;
   height: 120px;
   border-radius: 50%;
   margin: 0px 15px;
}



footer h3{
   font-size: 1.5em;
   margin-bottom: 25px;
   /* margin-left: 3px; */
}
footer .socialMedia a, footer .socialMedia a:hover, footer .socialMedia a:focus{
   border-bottom: none;
}

footer input[type="text"], textarea{
   color: white;
   padding: 5px;
   background-color: rgb(0,0,100);
   border: 1px solid white;
}
footer input:focus{
   outline: none;
}
::placeholder{
   color: rgba(255,255,255,0.5);
}
footer input:first-of-type{
   width: 60%;
}
footer input:last-of-type{
   width: 35%;

}

footer .socialMedia img{
   width: 50px;
   margin: 0px 3px;
   transition: opacity, .5s;
}
.dimmed{
   opacity: 0.5;
}

.footerFooter{
   width: calc(100%);
   margin: auto;
   border-top: 1px solid rgba(255,255,255,0.5);
   padding: 30px 0px;

   font-size: 0.7em;
   color: rgba(255,255,255,0.7);
   text-align: justify;
}
