/*Border Box Fix*/
html{
   box-sizing: border-box;
   font-family: 'Merriweather', serif;
}
*, *:before, *:after{
   box-sizing: inherit;
}



.preNavBanner{
   width: 100%;
   background-color: rgb(195, 0, 0);
   text-align: center;
}
.preNavBanner p{
   margin: 0;
   color: white;
   font-weight: bold;
   font-size: 1.1em;
   padding: 10px;
}
.preNavBanner p:hover{
   cursor: pointer;
   background-color: rgb(170, 0, 0);

}


.topImgWrapper{
   width:100%;
   height:75vh;
   overflow:hidden;
   position:relative;
   background-image: url(../images/bruce-mars-0_X3a7DP2oo-unsplash.jpg);
   background-repeat: no-repeat;
   background-position: center top;
   background-size: cover;
}
.topNav{
   position:relative;
   top:5px;
}
.topNav ul{
   width: auto;
}
.topNav li{
   list-style: none;
   display: inline-flex;
   padding: 10px 20px;
   background-color: rgb(120, 120, 120, 0.3)
}
.topNav li a{
   font-size: 1.2em;
   text-decoration: none;
   color: white;
}
@media (max-width: 750px){
   .topImgWrapper{
      height: 65vh;
   }
   .topNav{
      display: none;
   }
}
.scrollNavOpenButton{
   width: 50px;
   height: 50px;
   border: 4px solid white;
   position:absolute;
   top: 20px;
   right: 40px;
   display: none;
}
@media (max-width: 750px){
   .scrollNavOpenButton{
      display: inline-block;
   }
}



.twoShot{
   width:100%;
}
.firstPanel{
   float: left;
   width:50%;
   height:50vh;
   overflow:hidden;
   position:relative;
   background-image: url(../images/helloquence-OQMZwNd3ThU-unsplash.jpg);
   background-blend-mode: overlay;
   background-repeat: no-repeat;
   background-position: center top;
   background-size: cover;
   background-color: rgb(255, 255, 255, 0.3);
   transition: background-color, 1s;
}
.secondPanel{
   float:left;
   width:50%;
   height:50vh;
   overflow:hidden;
   position:relative;
   background-image: url(../images/sheri-hooley-pOR3_BLtGq4-unsplash.jpg);
   background-blend-mode: overlay;
   background-repeat: no-repeat;
   background-position: center top;
   background-size: cover;
   background-color: rgb(255, 255, 255, 0.3);
   transition: background-color, 1s;
}
.firstPanel:hover, .secondPanel:hover{
   background-color: rgb(255, 255, 255, 0.7);
   cursor: pointer;
}
.twoShot h1{
   margin-top: 40px;
   width: 100%;
   text-align: center;
   font-size: 1.5em;
   color: black;
}
.twoShot p{
   color: rgb(0, 0, 0);
   text-align: center;
   padding: 20px;
}
